.Stepper {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.Stepper_step {
  position: relative;
  display: table-cell;
  text-align: center;
  padding: 0.5rem;
}

.Stepper_indicator {
  position: relative;
  display: block;
  z-index: 2;
}

.Stepper_info {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #e3e8ec;
  border-radius: 50%;
  background-color: #e3e8ec;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.Stepper_label {
  position: relative;
  display: block;
  margin: 0.5rem 0;
  color: #cfd7de;
  z-index: 2;
}

.Stepper_panel {
  display: none;
}

.Content {
  position: relative;
  margin: 0 auto;
  background: #fafafa;
}

.Stepper .Stepper_step:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 1.75rem;
  width: 100%;
  height: 0.125rem;
  background-color: #e3e8ec;
  z-index: 1;
}
.Stepper .Stepper_step:last-child:after {
  display: none;
}

.Stepper .Stepper_step.is-complete .Stepper_info {
  border-color: #a6b6c3;
  background-color: #a6b6c3;
}
.Stepper .Stepper_step.is-complete .Stepper_label {
  color: #a6b6c3;
}

.Stepper .Stepper_step.is-active .Stepper_info {
  border-color: #627c90;
  background-color: #627c90;
}
.Stepper .Stepper_step.is-active .Stepper_lable {
  color: #627c90;
}

.Stepper .Stepper_step.is-warning .Stepper_info {
  border-color: #f1c40f;
  background-color: #f1c40f;
}
.Stepper .Stepper_step.is-warning .Stepper_label {
  color: #f1c40f;
}

.Stepper .Stepper_step.is-error .Stepper_info {
  border-color: #e95a4b;
  background-color: #e95a4b;
}
.Stepper .Stepper_step.is-error .Stepper_label {
  color: #e95a4b;
}
